//字体颜色
$main-black-color: #000;
$main-white-color: #fff;
$slider-color: #cfcfcf;
$light-black-color:#070707;
//背景颜色
$slider-bg: #3d4250;
$slider-active-bg:#464b57;
$red-bg: #fc3938;
$green-bg: #36ce1c;
$gray-bg: #b6b6b6;
$deep-gray-bg: #4a5061;
$edit-bg:#169bd5;
$stop-bg:#df0059;
$balance-bg:#666699;
//字体大小
$title-font: 28px;
$_20-font: 20px;
$_18-font: 18px;
$_16-font: 16px;
$_14-font: 14px;
$_12-font: 12px;

